In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd
import keras

Using TensorFlow backend.

In [2]:
#fetching the data into a dataframe
data = pd.read_csv("concrete_data.csv")
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
#checking whether the data is clean or not
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [4]:
#since the data is clean their is no further requirement of cleaning the data
#let us split the data in predictors and the target value
predictors = data.iloc[:,:8]
target = data['Strength']

In [5]:
#Normalizing the data
predictors = (predictors - predictors.mean()) / predictors.std()
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [6]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [7]:
#importing necessary packages for building the model
from keras.models import Sequential
from keras.layers import Dense

In [8]:
#Defing the regression_model
number_of_inputs = predictors.shape[1]
def regression_model():
    
    model = Sequential()
    
    #Adding the layes pof the model
    model.add(Dense(10, activation = 'relu', input_shape = (number_of_inputs,)))
    model.add(Dense(1))
    
    #compiling the model with adam optimizer
    model.compile(optimizer = 'adam', loss = 'mean_squared_error') 
    return model

In [9]:
model = regression_model()

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [11]:
MSE=[]
for i in range(50):
    X_train,X_test,y_train,y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, validation_data = (X_test, y_test), epochs = 50, verbose = 0)        
    mse = model.evaluate(X_test, y_test, verbose=0)
    print("Iteration:",i+1,"Mean Squared Error:",mse)
    MSE.append(mse)

Iteration: 1 Mean Squared Error: 266.78904442648286
Iteration: 2 Mean Squared Error: 180.84179366522235
Iteration: 3 Mean Squared Error: 123.81951440113647
Iteration: 4 Mean Squared Error: 102.55655833123957
Iteration: 5 Mean Squared Error: 79.78715181813656
Iteration: 6 Mean Squared Error: 67.66701584109211
Iteration: 7 Mean Squared Error: 64.15379126095077
Iteration: 8 Mean Squared Error: 46.69272838209825
Iteration: 9 Mean Squared Error: 49.33682292950578
Iteration: 10 Mean Squared Error: 48.378936063896106
Iteration: 11 Mean Squared Error: 45.7135133095158
Iteration: 12 Mean Squared Error: 43.419146800118355
Iteration: 13 Mean Squared Error: 52.45177807545585
Iteration: 14 Mean Squared Error: 51.26359326013855
Iteration: 15 Mean Squared Error: 45.3502153069456
Iteration: 16 Mean Squared Error: 41.416456617583734
Iteration: 17 Mean Squared Error: 43.07766320558813
Iteration: 18 Mean Squared Error: 42.48225847880045
Iteration: 19 Mean Squared Error: 40.33748567451551
Iteration: 20 Mean Squared Error: 42.931027643888896
Iteration: 21 Mean Squared Error: 40.91330565912438
Iteration: 22 Mean Squared Error: 41.651332188578486
Iteration: 23 Mean Squared Error: 38.74488814517518
Iteration: 24 Mean Squared Error: 41.80981550247538
Iteration: 25 Mean Squared Error: 43.475434152053786
Iteration: 26 Mean Squared Error: 43.94961026879962
Iteration: 27 Mean Squared Error: 41.39955450261681
Iteration: 28 Mean Squared Error: 40.07896110386525
Iteration: 29 Mean Squared Error: 47.4858802252217
Iteration: 30 Mean Squared Error: 44.10352598270552
Iteration: 31 Mean Squared Error: 42.994852800585306
Iteration: 32 Mean Squared Error: 39.734848781696805
Iteration: 33 Mean Squared Error: 39.574782757311574
Iteration: 34 Mean Squared Error: 43.8782185674871
Iteration: 35 Mean Squared Error: 41.86841356098459
Iteration: 36 Mean Squared Error: 47.354782190909276
Iteration: 37 Mean Squared Error: 41.887010398420315
Iteration: 38 Mean Squared Error: 45.95796376447461
Iteration: 39 Mean Squared Error: 43.41521039055389
Iteration: 40 Mean Squared Error: 38.47141036246587
Iteration: 41 Mean Squared Error: 45.483278539960054
Iteration: 42 Mean Squared Error: 38.45434826477446
Iteration: 43 Mean Squared Error: 41.57360289243433
Iteration: 44 Mean Squared Error: 47.24613177351967
Iteration: 45 Mean Squared Error: 46.79437658316109
Iteration: 46 Mean Squared Error: 47.156508745113236
Iteration: 47 Mean Squared Error: 42.14137290287944
Iteration: 48 Mean Squared Error: 43.43214811553461
Iteration: 49 Mean Squared Error: 44.53127411036815
Iteration: 50 Mean Squared Error: 46.99354089039429

In [12]:
mse = np.asarray(MSE)
print("Mean of Mean Squared Errors : ",np.mean(mse))
print("Standard Deviation of Mean Squared Errors : ",np.std(mse))

Mean of Mean Squared Errors :  55.42045759231914
Standard Deviation of Mean Squared Errors :  38.56188050836117

In STEP-A the mean of the Mean Squared Error was 45.89605436442353, where as in STEP-B the mean of the Mean Squared Error is
55.42045759231914. 

We can see an INCREASE in the mean.