In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd
import keras

Using TensorFlow backend.

In [2]:
#fetching the data into a dataframe
data = pd.read_csv("concrete_data.csv")
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
#checking whether the data is clean or not
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [4]:
#since the data is clean their is no further requirement of cleaning the data
#let us split the data in predictors and the target value
predictors = data.iloc[:,:8]
target = data['Strength']

In [5]:
#Normalizing the data
predictors = (predictors - predictors.mean()) / predictors.std()
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [6]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [7]:
#importing necessary packages for building the model
from keras.models import Sequential
from keras.layers import Dense

In [8]:
#Defing the regression_model
number_of_inputs = predictors.shape[1]
def regression_model():
    
    model = Sequential()
    
    #Adding the layes pof the model
    model.add(Dense(10, activation = 'relu', input_shape = (number_of_inputs,)))
    model.add(Dense(1))
    
    #compiling the model with adam optimizer
    model.compile(optimizer = 'adam', loss = 'mean_squared_error') 
    return model

In [9]:
model = regression_model()

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [11]:
MSE=[]
for i in range(50):
    X_train,X_test,y_train,y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, validation_data = (X_test, y_test), epochs = 100, verbose = 0)        
    mse = model.evaluate(X_test, y_test, verbose=0)
    print("Iteration:",i+1,"Mean Squared Error:",mse)
    MSE.append(mse)

Iteration: 1 Mean Squared Error: 145.15447136345034
Iteration: 2 Mean Squared Error: 95.19621647214427
Iteration: 3 Mean Squared Error: 67.52899855085947
Iteration: 4 Mean Squared Error: 48.825003935681195
Iteration: 5 Mean Squared Error: 43.8132183976158
Iteration: 6 Mean Squared Error: 44.23787587977536
Iteration: 7 Mean Squared Error: 43.364839918019314
Iteration: 8 Mean Squared Error: 34.06399233672997
Iteration: 9 Mean Squared Error: 36.20507661887357
Iteration: 10 Mean Squared Error: 36.49451011978692
Iteration: 11 Mean Squared Error: 36.381036233747665
Iteration: 12 Mean Squared Error: 33.295865469380104
Iteration: 13 Mean Squared Error: 39.924988046047375
Iteration: 14 Mean Squared Error: 40.73464131278128
Iteration: 15 Mean Squared Error: 35.07400565780097
Iteration: 16 Mean Squared Error: 30.24489245368439
Iteration: 17 Mean Squared Error: 34.27450614608222
Iteration: 18 Mean Squared Error: 34.33354072817707
Iteration: 19 Mean Squared Error: 33.91745049436501
Iteration: 20 Mean Squared Error: 34.090374931162614
Iteration: 21 Mean Squared Error: 30.50050557701333
Iteration: 22 Mean Squared Error: 32.272689825508586
Iteration: 23 Mean Squared Error: 30.03477968135698
Iteration: 24 Mean Squared Error: 31.822798941899272
Iteration: 25 Mean Squared Error: 34.6552791348553
Iteration: 26 Mean Squared Error: 36.32514798062519
Iteration: 27 Mean Squared Error: 29.536683252328423
Iteration: 28 Mean Squared Error: 31.37277603149414
Iteration: 29 Mean Squared Error: 35.325893093467144
Iteration: 30 Mean Squared Error: 34.155694819576915
Iteration: 31 Mean Squared Error: 30.82557133794988
Iteration: 32 Mean Squared Error: 28.364622054362375
Iteration: 33 Mean Squared Error: 29.81488844491903
Iteration: 34 Mean Squared Error: 31.002577056390955
Iteration: 35 Mean Squared Error: 32.70429666759898
Iteration: 36 Mean Squared Error: 38.48195290796965
Iteration: 37 Mean Squared Error: 28.43726655040358
Iteration: 38 Mean Squared Error: 33.21710755678442
Iteration: 39 Mean Squared Error: 31.894994667818633
Iteration: 40 Mean Squared Error: 25.435742955377574
Iteration: 41 Mean Squared Error: 34.05981040386706
Iteration: 42 Mean Squared Error: 27.595259953471064
Iteration: 43 Mean Squared Error: 29.966340685353696
Iteration: 44 Mean Squared Error: 33.56770193846866
Iteration: 45 Mean Squared Error: 34.138910793563696
Iteration: 46 Mean Squared Error: 31.750128150372056
Iteration: 47 Mean Squared Error: 30.550340794436753
Iteration: 48 Mean Squared Error: 31.209768585402603
Iteration: 49 Mean Squared Error: 31.73959335771579
Iteration: 50 Mean Squared Error: 34.51402441969196

In [12]:
mse = np.asarray(MSE)
print("Mean of Mean Squared Errors : ",np.mean(mse))
print("Standard Deviation of Mean Squared Errors : ",np.std(mse))

Mean of Mean Squared Errors :  38.04857305372417
Standard Deviation of Mean Squared Errors :  18.64612416492101

In STEP-B the mean of the Mean Squared Error was 55.42045759231914, where as in STEP-C the mean of the Mean Squared Error is
38.04857305372417. 

We can see an DECREASE in the mean.