In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd
import keras

Using TensorFlow backend.

In [2]:
#fetching the data into a dataframe
data = pd.read_csv("concrete_data.csv")
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
#checking whether the data is clean or not
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [4]:
#since the data is clean their is no further requirement of cleaning the data
#let us split the data in predictors and the target value
predictors = data.iloc[:,:8]
target = data['Strength']

In [5]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [6]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [7]:
#importing necessary packages for building the model
from keras.models import Sequential
from keras.layers import Dense

In [8]:
#Defing the regression_model
number_of_inputs = predictors.shape[1]
def regression_model():
    
    model = Sequential()
    
    #Adding the layes pof the model
    model.add(Dense(10, activation = 'relu', input_shape = (number_of_inputs,)))
    model.add(Dense(1))
    
    #compiling the model with adam optimizer
    model.compile(optimizer = 'adam', loss = 'mean_squared_error') 
    return model

In [9]:
model = regression_model()

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [13]:
MSE=[]
for i in range(50):
    X_train,X_test,y_train,y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, validation_data = (X_test, y_test), epochs = 50, verbose = 0)
    pred = model.predict(X_test)
    mse = model.evaluate(X_test, y_test, verbose=0)
    print("Iteration:",i+1,"Mean Squared Error:",mse)
    MSE.append(mse)

Iteration: 1 Mean Squared Error: 46.473349524933155
Iteration: 2 Mean Squared Error: 52.904088757956295
Iteration: 3 Mean Squared Error: 41.95768764952626
Iteration: 4 Mean Squared Error: 44.29311128881757
Iteration: 5 Mean Squared Error: 45.958549018045076
Iteration: 6 Mean Squared Error: 46.74135163686808
Iteration: 7 Mean Squared Error: 54.09814477815597
Iteration: 8 Mean Squared Error: 40.73236787666395
Iteration: 9 Mean Squared Error: 45.7990836973715
Iteration: 10 Mean Squared Error: 47.32969853175882
Iteration: 11 Mean Squared Error: 44.74656326639614
Iteration: 12 Mean Squared Error: 43.51813334245898
Iteration: 13 Mean Squared Error: 50.632796710363095
Iteration: 14 Mean Squared Error: 49.40081490822209
Iteration: 15 Mean Squared Error: 46.86686313962473
Iteration: 16 Mean Squared Error: 46.88176300764855
Iteration: 17 Mean Squared Error: 43.74141979526162
Iteration: 18 Mean Squared Error: 46.76164403625291
Iteration: 19 Mean Squared Error: 40.70802413298474
Iteration: 20 Mean Squared Error: 42.28371554130875
Iteration: 21 Mean Squared Error: 39.94049487067658
Iteration: 22 Mean Squared Error: 41.29449218453713
Iteration: 23 Mean Squared Error: 41.832619417060926
Iteration: 24 Mean Squared Error: 44.673686598496914
Iteration: 25 Mean Squared Error: 43.872682355368404
Iteration: 26 Mean Squared Error: 45.0432989867374
Iteration: 27 Mean Squared Error: 48.62144647987144
Iteration: 28 Mean Squared Error: 40.67165124763563
Iteration: 29 Mean Squared Error: 50.58374403672697
Iteration: 30 Mean Squared Error: 49.22640032598502
Iteration: 31 Mean Squared Error: 47.12917188378985
Iteration: 32 Mean Squared Error: 40.862369247239
Iteration: 33 Mean Squared Error: 42.36691476766345
Iteration: 34 Mean Squared Error: 46.67717592307279
Iteration: 35 Mean Squared Error: 42.760654684023564
Iteration: 36 Mean Squared Error: 50.219796319609706
Iteration: 37 Mean Squared Error: 48.826645527071165
Iteration: 38 Mean Squared Error: 45.36739243195667
Iteration: 39 Mean Squared Error: 42.95162739182753
Iteration: 40 Mean Squared Error: 39.79502714336111
Iteration: 41 Mean Squared Error: 47.32389253782995
Iteration: 42 Mean Squared Error: 45.03277885412321
Iteration: 43 Mean Squared Error: 47.232647016210464
Iteration: 44 Mean Squared Error: 49.042745818597986
Iteration: 45 Mean Squared Error: 48.606747451337796
Iteration: 46 Mean Squared Error: 48.2521305145955
Iteration: 47 Mean Squared Error: 47.21496277102375
Iteration: 48 Mean Squared Error: 50.393204673594255
Iteration: 49 Mean Squared Error: 49.43311471537865
Iteration: 50 Mean Squared Error: 47.72403140515571

In [17]:
mse = np.array(MSE)
print("Mean of Mean Squared Error is:",np.mean(MSE))
print("Standard Deviation of Mean Squared Error is:",np.std(MSE))

Mean of Mean Squared Error is: 45.89605436442353
Standard Deviation of Mean Squared Error is: 3.431814377424828